   html body{ height: 100%; box-sizing: border-box; background: #03597D !important; }

 .ponto-de-venda{  overflow:hidden; position: relative;height: 100%; }
 .ponto-de-venda button{
    display: inline-block; position: relative; float: left; border: none; outline: none; 
    cursor: pointer;
}
 .ponto-de-venda input[type="text"]{ 
 	display: inline-block; position: relative; float: left; border: 1px solid #D7DCE5; 
 	padding:12px 15px; width: 90%; outline: none; font-family: 'Nunito', sans-serif; font-size: 1.03em;
 }
  .categories-buttons .our-btn:hover,.ponto-de-venda input[type="text"]:hover{
     border: 1px solid #489EE7;
  }
 .number2 input[type="text"]{ width: 100%; }
 input[type="number"] { 
  -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
 .number button,.form-categories button{ 
 	width: 10%; padding: 13.5px 0; border-radius: 0 3px 3px 0px; background: #489EE7; color: white;
 }
.item{
  	 margin-top: 7px; height: 100%; overflow:hidden; border-radius: 3px;
  	 padding:14px;  position: relative; width: 100%; background:white;
}
  .pesquisa{
    padding: 3px; background: #fff; position: absolute;border: 1px solid #D7DCE5;  
    width:98%; z-index: 2000; display: table; top:64px; border-radius: 3px;
     visibility:visible; margin-left: auto; margin-right:auto;
  }
   .pesquisa:hover{
    border: 1px solid #489EE7; 
   }
  .pesquisa .text{
     width:85%;vertical-align: middle; display: table-cell; position: relative; padding-bottom:10px;
  }
  .pesquisa .imagem{
    width:50px; vertical-align: middle;  display:table-cell;height: 50px; padding-left: 12px;
    padding-bottom:10px; padding-right:20px; position: relative; 
  }
  .number2{ padding-bottom:15px; position: relative; float: left; width: 100%; }
  .pesq-item:hover{
    background: #F3F4F8; border-bottom: 1px solid #ccc;
  }
  .pesq-list-prod{ display: block; font-size: 1.2rem;  color:#777; }
  .other-title{ font-size: 1.12rem;color:#777;}
   .value{ color:  #489EE7;margin-right:10px;  font-size: 1.12rem;}

.pesquisa .imagem img{border-radius: 50%; }
.control-plus{ font-size: .7rem; position: relative; top: -2px; display: inline-block; }
  thead{ border-bottom: 1px solid #D7DCE5;  background: #F9FBFC; color: #2f2f2f; font-weight: 400; }
  table{ width: 100%;}
.table-2{ border-top: 3px solid #444;margin-top:15px; }
td{ padding: 10px 5px;  text-align: center;font-size: 1.04rem;
  font-family: 'Nunito', sans-serif;font-weight: 300;}
th{text-align: center !important; padding:8px 5px; font-size: 1.15rem; 
font-family: 'Nunito', sans-serif; font-weight: 700;}
.tdqtd{ width: 15%;padding:5px 4px !important; color: #6FD64B;}
.tdqtd .qtd{ 
position: relative; width: 30%; float: left;  font-size: .9rem;text-align: center;  
border: 1px solid  #373a3c; padding: 1.5px; color: #373a3c;
}
label{ text-transform: uppercase; }
.td-span{
    padding: 5px; position: relative; display: block;
}
.minimal-stock{background: #701C7F;border-radius: 3px; color: #fff;}
.full-stock{background: #00C1FF;border-radius: 3px; color: #fff;}
.tdqtd button{ 
width: 25%; background: transparent;text-align: center;font-size:0.8rem; font-weight: 700;
 padding: 2.8px 2px; outline: none !important; color: #373a3c;border: 1px solid  #373a3c;
}

.tr-secundary a,.desc-link a{  border-bottom: 1px dashed #674324; }
.tr-secundary td:last-child{ text-align:right; padding-right: 45px; }
.tr-secundary td:first-child{ text-align:left; padding-left: 40px; }
.tr-total td:last-child{ text-align:right; padding-right: 45px; }
.tr-total td:first-child{ text-align:left;  padding-left: 38px; }
.trash a{ color: #2f2f2f; }
.tdqtd button:last-child{ border-left: none; }
.tdqtd button:first-child{ border-right: none; }
.div-item-chart{max-height: 350px; overflow-y: scroll; position: relative; width: 100%;}
.item-table-2{ padding:15px 10px 0 10px !important; }
.item-table-2 .tr-secundary{ background:#D9EDF7; }
.item-table-2 .tr-secundary td { font-size: 1rem; font-weight: 700; }
.item-table-2 .tr-total{ padding: 20px;background:#DFF0D8; }
.table-2 td{font-weight: 400;}
 label{ text-transform: uppercase; }

.item-table-2 .tr-total td{ font-size: 1.8rem; font-weight: bolder;}
.payment button, .our-btn,.side-buttons{ display: block; position: relative;
 width: 100%; padding:10px 0; }
.buttons{ position: relative; display: block; float: left;}
.close-and-pause{ float: left;width: 40%; outline: none; }
.payment{ float: left;width: 60%;  outline: none;}
.our-btn{  text-align:left; padding: 10px 5px 10px 25px;font-size: 1.2rem; color: #fff; }
.payment button span,.our-btn span{ display: inline-block; margin-right: 5px; }
.payment button{
min-height: 96px; font-size: 2.3rem;  padding-left: 30px; margin-bottom: 10px;
color: #fff; background: #37BC9B; outline: none;
}
.categories-buttons .our-btn{ 
  width: 49%; font-size: 1rem;  margin-bottom: 10px; background: transparent; color: #808080;
  border: 1px solid #ccc; border-radius: 5px; outline: none;
}
.categories-buttons .our-btn:first-child{margin-right: 2%;}
.show-categories{ background: #f4f4f4; max-height: 625px; overflow-y: scroll; display: none;}
.categories-item{ 
border: 1px solid #ccc;background: #fff; width: 32.5%; min-height:200px; 
position: relative; padding:5px 5px 10px 5px; float: left; margin-bottom: 10px; margin-right: 1.25%;
}
.categories-item:nth-of-type(3n){ margin-right: 0;}
.categories-item a{ text-decoration: none; color: #000;  }
.image{ position: relative; width: 100%; height:120px;  text-align: center;}
.image img{ width: 100%; height:100%;  }
.desc-category span{ font-size: 1rem; font-weight: 700; margin-top:10px; }
.desc-category .name{ display: block; position: relative; width: 100%; text-align: center;  }
.categories-buttons button.active {background-color:#489EE7; color: white;}
.tool-desc {position: relative;}
.tool-desc span {
    position: absolute;width:220px; color: #FFFFFF;
    background: #000000; min-height: 30px; line-height: 20px;
    text-align: center;display: none; border-radius: 6px; padding: 10px 5px; font-size: .8rem;
    font-weight: 100;
}
.tool-desc span:after {
    content: ''; position: absolute; bottom: 100%; left: 40%; margin-left: -8px;
    width: 0; height: 0; border-bottom: 8px solid #000000; border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.tool-desc:hover span {
    display: block; opacity: 0.8;  top: 30px; left: 60%; margin-left:-90px; z-index: 11999;
}

@media(max-width: 996px){
   .first-div{
    width: 100% !important; float: left;
   }
   .second-div{
    width: 100% !important; float: left;
   }
   .categories-item{ width: 24% !important; float: left; margin:10px 1% 10px 0px !important;}
   .categories-item:nth-of-type(4n){ margin-right: 0 !important;}

}
@media(max-width: 645px){
  .response{ overflow-x: auto; }
  .pesquisa{width:95.1%;}
 .close-and-pause{ width: 100%;  text-align: center;}
 .our-btn{ text-align: center; }
 .payment{ float: left;width: 100%;  }
 .tdqtd .qtd{width: 100%;}
.tdqtd button{ width: 100%; }
.tdqtd button:last-child{ border-left:1px solid #373a3c; }
.tdqtd button:first-child{ border-right:1px solid #373a3c; }
.categories-item{width: 32.5% !important;margin-bottom: 10px !important; margin-right: 1.2% !important;}
.categories-item:nth-of-type(3n){ margin-right: 0 !important;}
.categories-item:nth-of-type(4n){ margin-right:1% !important;}
.categories-item:last-child{ margin-right:0% !important; }

}
